[package]
name = "metroidvainia"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
bevy = "0.13.2"
bevy_ecs = "0.13.0"
bevy_rapier2d = "*"

leafwing-input-manager = "0.13.2"
bevy_egui = "0.26.0"

[profile.dev]
opt-level = 1

[profile.dev.package."*"]
opt-level = 3

[profile.release]
codegen-units = 1
